tty_port = '/dev/ttyUSB0'
epson_baud = 9600
kindermann_baud = 115200
mutefile = './mutefile'
cool_down_file = './coolingfile'
# projector cool down in seconds
cool_down_time = 15
# projector warm up in seconds
warm_up_time = 60
warm_up_file = './warmupfile'
'''
To change the serial command copy epson/epson_default_config.py to another file and change the
file_name.
There may be other predefined examples in epson/
'''
epson_config_class_name = 'epson_information'
epson_config_file_name = 'epson_default_config'
kindermann_commands = ['ON',
                       'OFF',
                       ]  # commands that aren't only executed by epson

